* { margin: 0; }
#container { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; font-family: 'Oxanium', cursive; }
#container h1 { font-size: 4em; font-weight: 700; }
#container a { position: relative; display: inline-block; padding: 6px 12px; color: #803976; font-size: 2em; font-weight: 700; text-decoration: none; overflow: hidden; transition: .5s; letter-spacing: 4px }
#container a:hover { background: #803976; color: #fff; border-radius: 1px; box-shadow: 0 0 1px #803976, 0 0 5px #803976, 0 0 10px #803976, 0 0 20px #803976; }
#container a span { position: absolute; display: block; }
#container a span:nth-child(1) { top: 0; left: -100%; width: 100%; height: 2px; background: linear-gradient(90deg, transparent, #803976); animation: btn-anim1 1s linear infinite; }
@keyframes btn-anim1 { 0% { left: -100%; } 50%,100% { left: 100%;} }
#container a span:nth-child(2) { top: -100%; right: 0; width: 2px; height: 100%; background: linear-gradient(180deg, transparent, #803976); animation: btn-anim2 1s linear infinite; animation-delay: .25s }
@keyframes btn-anim2 { 0% { top: -100%; } 50%,100% { top: 100%; } }
#container a span:nth-child(3) { bottom: 0; right: -100%; width: 100%; height: 2px; background: linear-gradient(270deg, transparent, #803976); animation: btn-anim3 1s linear infinite; animation-delay: .5s }
@keyframes btn-anim3 { 0% { right: -100%; } 50%,100% { right: 100%; } }
#container a span:nth-child(4) { bottom: -100%; left: 0; width: 2px; height: 100%; background: linear-gradient(360deg, transparent, #803976); animation: btn-anim4 1s linear infinite; animation-delay: .75s }
@keyframes btn-anim4 { 0% { bottom: -100%; } 50%,100% { bottom: 100%; } }
  