<!doctype html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
</head>
<body>
	<div ng-controller="myController as mc">
		<pre style="background-color:yellow; word-wrap: break-word;">
			{{mc.lista}}
		</pre>
		<button ng-click="mc.agregarAudio()">Agregar</button>
		<ul>
			<li ng-repeat="item in mc.lista">
				{{item.texto}}
				<audio controls preload="none" id="audio-{{$index}}">
					<source ng-src="{{item.url | myFilter}}" type="audio/mpeg">
					Tu navegador no soporta el elemento audio.
				</audio>
			</li>
		</ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script type="text/javascript">
		var myModule=angular.module('myModule',[])
		.controller('myController', function(){
			var ng=this;
			ng.lista=[
				{
					texto:'audio 1',
					url:'http://dev-rpp-media.s3-us-west-2.amazonaws.com/2016/01/12/audio2_3987.mp3'
				},
				{
					texto:'audio 2',
					url:'http://dev-rpp-media.s3-us-west-2.amazonaws.com/2016/01/12/audio2_3986.mp3'
				}
			];
			
			ng.agregarAudio=function(){
				console.log('gggggggggg');
				var audio={
					texto:'developers',
					url:'http://dev-rpp-media.s3-us-west-2.amazonaws.com/2016/01/14/developers_3997.mp3'
				};
				ng.lista.unshift(audio);
			}
			
		}).
		filter('myFilter',['$sce',function($sce){
			return function(url){
				return $sce.trustAsResourceUrl(url);		
			};
		}]);
    	
	</script>
</body>

</html>