<!doctype html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
  <script type="text/javascript" src="angular.js"></script>
</head>
<body>
	<div ng-controller="testController">
      <!-- <label>Name:</label>
      <input type="text" ng-model="person.name" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{person.name}}!</h1>
      <hr>
      <h1>Hello {{xxx}}!</h1>
      <h2>{{hello}}</h2>
      <div><input ng-model="hello" filtered-model="currency"></div> -->
      <div><input ng-model="modeloTest" ng-disabled="true" filtered-model="currency"></div>
    </div>
    <script type="text/javascript">
    	function testController($scope, $filter){
    		// $scope.person={name:'marco', age:27};
    		// $scope.xxx=myFactory.sayHello();
    		// console.log($scope.xxx);
        $scope.modeloTest=500;
        // $scope.modeloTest=$filter('currency')($scope.modeloTest);

        // var currency=$filter('currency');
        // $scope.myFn = function(input) {
        //     return currency(input);
        // };
    	}
    	var myModule=angular.module('myModule',[]);
    	// myModule.factory('myFactory', function(){
    	// 	return {
    	// 		sayHello:function(){
    	// 			return 'Bitch!';
    	// 		}
    	// 	}
    	// });

     //  myModule.filter('myFilter',function(){

     //  });

      myModule.directive('filteredModel',function($parse, $filter){
        return{
          restrict: 'A',
          require: 'ngModel',
          link: function(scope, elm, attrs, model) {
            console.debug(model, 'nnnnnnnnnnn');
            
            model.$parsers.push(function(input){
              return $filter(attrs.filteredModel)(700);
            });
            
            // var x=$filter('currency')(model);
            // console.log(x,'iiiii');
            // return $filter(attrs.filteredModel)(model);
            // function mmm(input) {
            //   // return $filter(attrs.filteredModel)(input);
            //   console.log(input,'uuuuu');
            //   return $filter(attrs.filteredModel)(model);;
            // }
            // mmm(model);

            // model.$parsers.push(function(input) {
            //   console.log(model,'mmmmmmm');
            //   // return $filter(attrs.filteredModel)(input);
            //   return $$filter(attrs.filteredModel)(model);;
            // });
          }
        }  
      });

    </script>	
</body>
</html>